<section id="memberships-overview-premium-app-support">
  <div class="page-width pb-4">
    <div class="grid">
      <div class="grid__item one-whole medium-up--five-twelfths">
        <span class="membership-badge membership-badge--green"></span>
        {% comment %}
        <span class="membership-badge membership-badge--rose">Rose</span>
        <span class="membership-badge__divider"> • </span>
        <span class="membership-badge membership-badge--gold">Gold</span>
        {% endcomment %}
        <h3>
          {{ sectionTitle | escape }}
          <!-- Lastly, we hook you up with premium app support to help you as you grow -->
        </h3>
        <p>Get connected to the world’s best localized knowledge base; to problem solving tools and supplies; and to other nearby growers on and offline.</p>
        <div id="interactive__app-support">
          <div class="interactive-item selected" data-interactive="plantAdviceImage">
            <h4>Contextual plant advice</h4>
            <p>Get advice based on where you live like “It’s gonna freeze! Bring your plants inside!” or “Hey, it’s hot! Did you water your plants?”</p>
          </div>
          <div class="interactive-item" data-interactive="digitalToolsImage">
            <h4>Digital tools for the home gardener</h4>
            <p>We’re building tools to help you identify bad bugs, weird diseases, sick plants, and what to do about it organically and sustainably.</p>
          </div>
          <div class="interactive-item" data-interactive="localGrowersImage">
            <h4>Connect with local growers</h4>
            <p>Post photos and videos of what’s up with your plant and connect to other folks growing who can help. Growing is and always has been a community effort.</p>
          </div>
        </div>
      </div>
      <div class="grid__item medium-up--one-quarter pb-1"></div>
      <div class="grid__item small--hidden medium-up--show medium-up--one-third">
        <img id="interactive__app-support__image" class="floating" src="{{'gardenio_app_concept_gardening_growyourownfood_notifications.jpg'|asset_url}}" alt="Screenshot of your phone telling you what you should do with your plants based on your local weather" />
      </div>
    </div>
  </div>
</section>

<script>
(function(){
  'use strict'
  var targetClass = '.interactive-item';
  var imageUrls = {
    plantAdviceImage: '{{"gardenio_app_concept_gardening_growyourownfood_notifications.jpg"|asset_url}}',
    digitalToolsImage: '{{"gardenio_app_concept_gardening_growyourownfood_digitaltools.jpg"|asset_url}}',
    localGrowersImage: '{{"gardenio_app_concept_gardening_growyourownfood_community.jpg"|asset_url}}',
  };

  function switchSelectedForTargetElement(el) {
    const intWrapper = document.getElementById('interactive__app-support');
    const oldSelected = intWrapper.querySelector('.selected');
    oldSelected.classList.remove('selected');
    const newSelected = event.target.matches(targetClass) ? event.target : event.target.parentNode;
    newSelected.classList.add('selected');
  }

  function switchInteractiveImage(assetUrl) {
    document.getElementById('interactive__app-support__image').src = assetUrl;
  }

  function initInteractiveAppSupport() {
    document.addEventListener('click', function (event) {
    	if (!event.target.matches(targetClass) && !event.target.parentNode.matches(targetClass)) return;
    	event.preventDefault();
      switchSelectedForTargetElement(event.target);
      const imageKey = event.target.parentNode.getAttribute('data-interactive');
      switchInteractiveImage(imageUrls[imageKey]);
    }, false);
  }

  initInteractiveAppSupport();
})();
</script>
