<section id="plant-options">
  <div class="page-width pt-5 pb-5">
    <div class="grid">
      <div class="membership__intro-text text-center pb-3">
        <h2>What plants can I get?</h2>
        <p>
          Select your plant preferences when you become a member, in case, for instance, you’re a cilantro hater, we’ll never send you cilantro. Boo. Want something else? Join our waitlist to get new release updates.
        </p>
      </div>
    </div>
    <div class="flex-grid flex-grid--justify-center mt-3 mb-3">
      <div class="flex-item membership-info__plant-option text-center mb-1">
        <img class="image-round" height="80" width="80" alt="basil" src="{{ "gardenio_app_planticon_basil.jpg" | asset_url }}" />
        <h6>Basil</h6>
      </div>
      <div class="flex-item membership-info__plant-option text-center mb-1">
        <img class="image-round" height="80" width="80" alt="cilantro" src="{{ "gardenio_app_planticon_cilantro.jpg" | asset_url }}" />
        <h6>Cilantro</h6>
      </div>
      <div class="flex-item membership-info__plant-option text-center mb-1">
        <img class="image-round" height="80" width="80" alt="holy basil" src="{{ "gardenio_app_planticon_holybasil.jpg" | asset_url }}" />
        <h6>Tulsi (Holy Basil)</h6>
      </div>
      <div class="flex-item membership-info__plant-option text-center mb-1">
        <img class="image-round" height="80" width="80" alt="lavender" src="{{ "gardenio_app_planticon_lavender.jpg" | asset_url }}" />
        <h6>Lavender</h6>
      </div>
      <div class="flex-item membership-info__plant-option text-center mb-1">
        <img class="image-round" height="80" width="80" alt="mint" src="{{ "gardenio_app_planticon_mint.jpg" | asset_url }}" />
        <h6>Mint</h6>
      </div>
      <div class="flex-item membership-info__plant-option text-center mb-1">
        <img class="image-round" height="80" width="80" alt="oregano" src="{{ "gardenio_app_planticon_oregano.jpg" | asset_url }}" />
        <h6>Oregano</h6>
      </div>
      <div class="flex-item membership-info__plant-option text-center mb-1">
        <img class="image-round" height="80" width="80" alt="parsley" src="{{ "gardenio_app_planticon_parsley.jpg" | asset_url }}" />
        <h6>Parsley</h6>
      </div>
      <div class="flex-item membership-info__plant-option text-center mb-1">
        <img class="image-round" height="80" width="80" alt="rosemary" src="{{ "gardenio_app_planticon_rosemary.jpg" | asset_url }}" />
        <h6>Rosemary</h6>
      </div>
      <div class="flex-item membership-info__plant-option text-center mb-1">
        <img class="image-round" height="80" width="80" alt="sage" src="{{ "gardenio_app_planticon_sage.jpg" | asset_url }}" />
        <h6>Sage</h6>
      </div>
      <div class="flex-item membership-info__plant-option text-center mb-1">
        <img class="image-round" height="80" width="80" alt="thyme" src="{{ "gardenio_app_planticon_thyme.jpg" | asset_url }}" />
        <h6>Thyme</h6>
      </div>
    </div>
  </div>
</section>
