<!-- snippet/product-membership-price.liquid -->
{% if variant.title %}
  {%- assign compare_at_price = variant.compare_at_price -%}
  {%- assign price = variant.price -%}
  {%- assign price_per_mo = price | divided_by: 3 -%}
  {%- assign compare_at_price_per_mo = compare_at_price | divided_by: 3 -%}
  {%- assign available = variant.available -%}
{% else %}
  {%- assign compare_at_price = 1999 -%}
  {%- assign price = 1999 -%}
  {%- assign price_per_mo = price | divided_by: 3 -%}
  {%- assign compare_at_price_per_mo = compare_at_price | divided_by: 3 -%}
  {%- assign available = true -%}
{% endif %}

{% capture discount_amt %}
{{ product.compare_at_price_max | minus:product.price | times:100 | divided_by:product.compare_at_price_max }}%
{% endcapture %}

{%- assign money_price = price | money -%}

<dl class="price{% if available and compare_at_price > price %} price--on-sale{% endif %}{% if available and variant.unit_price_measurement %} price--unit-available{% endif %}" data-price>
  {% if available and compare_at_price > price %}
    <div class="early-bird__info-box mt-1 text-center">
      Get <strong>{{discount_amt}} off</strong> your first season when you join Gardenio by February 28th and become an Original Gardener (OG).
    </div>
  {% endif %}

  <div class="cyan-divider"></div>

  {% if available and compare_at_price > price %}
    <dt>First Season Normal Price: </dt>
    <dd>{{ compare_at_price | money }}</dd>

    <dt>OG First Season Discount: </dt>
    <dd>{{discount_amt}} off</dd>

    <dt>Shipping: </dt>
    <dd>FREE</dd>

    <dt class="price__sale--label">Your First Season: </dt>
    <dd class="price__sale--amount">{{ price | money }}</dd>
  {% else %}
    <dt>First Season: </dt>
    <dd>{{ price | money }}</dd>

    <dt>Shipping: </dt>
    <dd>FREE</dd>
  {% endif %}

  {% if recurring_membership_price %}
    <dt>Following Seasons (recurring): </dt>
    <dd>{{ recurring_membership_price | money }}</dd>
  {% endif %}

  <div class="cyan-divider"></div>
</dl>
