{% capture email_title %} You're So Close!{% endcapture %}
{% capture email_body %}
    {% if billing_address.first_name %}Hi {{ billing_address.first_name }},
    {% else %} Hey! We noticed that{% endif %} 
    you added {% if item_count == 1 %}an item{% else %}items{% endif %} to your shopping cart and we noticed you left it sitting there. 
    Click the button below to complete your order now while they're still available. Garden on!
{% endcapture %}

<!DOCTYPE html>
<html lang="en">
  <head>
  <title>{{ email_title }}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" type="text/css" href="/assets/notifications/styles.css">
  <style>
    .button__cell { background: {{ shop.email_accent_color }}; }
    a, a:hover, a:active, a:visited { color: {{ shop.email_accent_color }}; }
  </style>
</head>

  <body>
    <table class="body">
      <tr>
        <td>
          <table class="header row">
  <tr>
    <td class="header__cell">
      <center>

        <table class="container">
          <tr>
            <td>

              <table class="row">
                <tr style="text-align: center;">
                  <td class="shop-name__cell" style="margin-bottom: 30px;">
                    {%- if shop.email_logo_url %}
                        <img src="https://cdn.shopify.com/s/files/1/1845/3893/files/gardenio_logo_with_name.png?v=1592552759" style="height:50px;">
                    {%- else %}
                      <h1 class="shop-name__text">
                        <a href="{{shop.url}}">{{ shop.name }}</a>
                      </h1>
                    {%- endif %}
                  </td>

                </tr>
              </table>

            </td>
          </tr>
        </table>

      </center>
    </td>
  </tr>
</table>

          <table class="row content">
  <tr>
    <td class="content__cell">
      <center>
        <table class="container">
          <tr>
            <td>
              
            <h1 style="font-weight: bold; text-align: center; margin-bottom: 15px;">{{ email_title }}</h1>
            {% if custom_message != blank %}
              <p>{{ custom_message }}</p>
            {% else %}
              <p>{{ email_body }}</p>
            {% endif %}
            <table class="row actions">
  <tr>
    <td class="actions__cell">
      <table class="button main-action-cell">
        <tr>
          <td class="button__cell"><a href="{{ url }}" class="button__text">Complete your purchase</a></td>
        </tr>
      </table>
      {% if shop.url %}
    <table class="link secondary-action-cell">
      <tr>
        <td class="link__cell"><a href="{{ shop.url }}" class="link__text"><span class='or'>Want to learn more?</span> Visit our store</a></td>
      </tr>
    </table>
{% endif %}

    </td>
  </tr>
</table>


            </td>
          </tr>
        </table>
      </center>
    </td>
  </tr>
</table>

          <table class="row section">
  <tr>
    <td class="section__cell">
      <center>
        <table class="container">
          <tr>
            <td>
              <h3>Items in your cart</h3>
            </td>
          </tr>
        </table>
        <table class="container">
          <tr>
            <td>
              
            
<table class="row">
  {% for line in subtotal_line_items %}
  <tr class="order-list__item">
    <td class="order-list__item__cell">
      <table>
        <td>
          {% if line.image %}
            <img src="{{ line | img_url: 'compact_cropped' }}" align="left" width="60" height="60" class="order-list__product-image"/>
          {% endif %}
        </td>
        <td class="order-list__product-description-cell">
          {% if line.product.title %}
            {% assign line_title = line.product.title %}
          {% else %}
            {% assign line_title = line.title %}
          {% endif %}

          {% if line.quantity < line.quantity %}
            {% capture line_display %} {{ line.quantity }} of {{ line.quantity }} {% endcapture %}
          {% else %}
            {% assign line_display = line.quantity  %}
          {% endif %}

          <span class="order-list__item-title">{{ line_title }} × {{ line_display }}</span><br/>

          {% if line.variant.title != 'Default Title' %}
            <span class="order-list__item-variant">{{ line.variant.title }}</span>
          {% endif %}
        </td>
      </table>
    </td>
  </tr>{% endfor %}
</table>


            </td>
          </tr>
        </table>
      </center>
    </td>
  </tr>
</table>

          <table class="row footer">
            <tr>
              <td class="footer__cell">
                <center>
                  <table class="container">
                    <tr>
                      <td style="text-align: center;">
                        <img src="https://cdn.shopify.com/s/files/1/1845/3893/files/app_mock.png?v=1592558880" width=260px>
                      </td>
                    </tr>
                    <tr>
                      <td style="text-align: center;">
                        <p>Download Our App for iOS & Android</p>
                        <a href="https://apps.apple.com/us/app/gardenio/id1475726553?mt=8"><img height=40px alt="Download on the App Store" src="https://cdn.shopify.com/s/files/1/1845/3893/files/app-store-badge.png?v=1592565068"/></a> 
                        <a href="https://play.google.com/store/apps/details?id=com.growgardenio.gardenio&hl=en_US&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1"><img height=40px alt="Get it on Google Play" src="https://cdn.shopify.com/s/files/1/1845/3893/files/google-play-badge.png?v=1592563901"/></a>
                        <br>
                        <p>A New Kind of Garden Club</p>
                    </tr>
            
                    <tr>
                      <td style="text-align: center;">
                        <a href="https://www.facebook.com/growgardenio/"><img height=35px width=35px alt="Facebook" src="https://cdn.shopify.com/s/files/1/1845/3893/files/f_logo_RGB-Black_100.png?v=1592563923"/></a>
                        <a href="https://www.instagram.com/growgardenio/"><img height=35px width=35px alt="Instagram" src="https://cdn.shopify.com/s/files/1/1845/3893/files/glyph-logo_May2016.png?v=1592563944"/></a>
                        <a href="https://twitter.com/growgardenio"><img height=35px width=35px alt="Twitter" src="https://cdn.shopify.com/s/files/1/1845/3893/files/Twitter_Social_Icon_Circle.png?v=1592563960"/></a>
                        <a href="mailto:{{ shop.email }}"><img height=35px width=35px alt="Facebook" src="https://cdn.shopify.com/s/files/1/1845/3893/files/email.png?v=1592563900"/></a>
                      </td>
                    </tr>
                    <tr>
                      <td style="text-align:center;"?>
                        <a href="https://growgardenio.com/">https://growgardenio.com/</a>
                      </td>
                    </tr>
                    <tr>
                      <td style="text-align: center;">
                        <br>
                        <p class="disclaimer__subtext">Don't want to receive cart reminders from us? <a href="{{ unsubscribe_url }}">Unsubscribe</a></p>
                      </td>
                    </tr>
                  </table>
                </center>
              </td>
            </tr>
          </table>
          <img src="{{ 'notifications/spacer.png' | shopify_asset_url }}" class="spacer" height="1" />
        </td>
      </tr>
    </table>
  </body>
</html>
