<style>
#{{ section.settings.overlayId }} {
  background-color: {{ section.settings.backgroundColor }}
}
</style>

<div id="{{ section.settings.overlayId }}" class="overlay">
  <div class="page-width">
    <div class="one-whole text-right pb-7">
      <a id="close-{{ section.settings.overlayId }}" class="text-white button-text">Close</a>
    </div>
    <div class="one-whole">
      {{ section.settings.overlay_content }}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Overlay",
  "class": "gdno--overlay-section",
  "settings": [
    {
      "type": "text",
      "id": "overlayId",
      "label": "ID"
    },
    {
      "type": "text",
      "id": "backgroundColor",
      "label": "Background Color"
    },
    {
      "type": "html",
      "id": "overlay_content",
      "label": "Content"
    }
  ],
  "presets": [
    {
      "name": "Overlay",
      "category": "Advanced layout"
    }
  ]
}
{% endschema %}

<script>
(function() {
  function openModal() {
    document.getElementById('{{ section.settings.overlayId }}').classList.add('open');
  }

  function closeModal() {
    document.getElementById('{{ section.settings.overlayId }}').classList.remove('open');
  }

  document.addEventListener('click', function (event) {
    if (event.target.matches('#open-{{ section.settings.overlayId }}')) {
      event.preventDefault();
      openModal();
    } else if (event.target.matches('#close-{{ section.settings.overlayId }}')) {
      event.preventDefault();
      closeModal();
    }
    return;
  }, false);
})();
</script>
